 <%= form_with(model: @student, local: true) do |form| %>
 <% if @student.errors.any? %>
  <div style="color:red;">
    <% @student.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

  <div>
    <%= form.label :first_name , class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>
    
  <div>
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>
    
  <div>
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div>
    <%= form.label :date_of_birth, class: "form-label" %>
    <%= form.date_field :date_of_birth, class: "form-control" %>
  </div>

  <div>
    <%= form.label :address, class: "form-label" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div>
    <%= form.label :contact, class: "form-label" %>
    <%= form.text_field :contact, class: "form-control" %>
  </div>

  <div>
    <%= form.label :marks, class: "form-label" %>
    <%= form.number_field :marks, class: "form-control" %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>