<h1>Edit Student</h1>

<%= form_with model: @student do |form| %>

  <%= @student.errors.full_messages %>

   <% if @student.errors.any? %>
  <% @student.errors.full_messages.each do |message| %>
    <p style="color:red;"><%= message %></p>
  <% end %>
<% end %>

  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
    
  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
    
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

   <div>
     <%= form.submit "update Student" %>
   </div>
<% end %>