<h1>Hello</h1>
<button class="btn btn-success">Click</button>

<h1>Student Details</h1>
<p> <strong>name :</strong> <%= @student.full_name %> </p>

<%if @student.date_of_birth.present? %>
<p> <strong>Date of Birth:</strong> <%= @student.date_of_birth.strftime("%A, %B %d, %Y") %> </p>
<% end %>

<p> <strong>Email:</strong> <%= @student.email %> </p>
<p> <strong>Address:</strong> <%= @student.address %> </p>
<p> <strong>Contact:</strong> <%= @student.contact %> </p>
<p> <strong>age:</strong> <%= @student.age %> </p>
<%= link_to "Back to List", students_path %> | 
<%= link_to "Edit", edit_student_path(@student) %>