<%= form_with(model: [:admin, @student], local: true) do |form| %>

  <% if @student.errors.any? %>
    <div class="alert alert-danger">
      <% @student.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="container mt-4">

    <div class="row mb-3">
      <div class="col-md-8 offset-md-2">
        <%= form.label :first_name, class: "form-label" %>
        <%= form.text_field :first_name, class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-8 offset-md-2">
        <%= form.label :last_name, class: "form-label" %>
        <%= form.text_field :last_name, class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-8 offset-md-2">
        <%= form.label :email, class: "form-label" %>
        <%= form.email_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-8 offset-md-2">
        <%= form.label :date_of_birth, class: "form-label" %>
        <%= form.date_field :date_of_birth, class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-8 offset-md-2">
        <%= form.label :address, class: "form-label" %>
        <%= form.text_field :address, class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-8 offset-md-2">
        <%= form.label :contact, class: "form-label" %>
        <%= form.text_field :contact, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>

  </div>

<% end %>