<div class="row mb-3">
      <div class="col-md-8 offset-md-2">

<% if @student.profile_picture.attached? %>
  <%= image_tag @student.profile_picture , class: "img-thumbnail mb-3" %> 
<% end %>

<p1><%= notice %></p1>
<h1>Student Details</h1>
<p> <strong>name :</strong> <%= @student.full_name %> </p>
<p> <strong>Date of Birth:</strong> <%= @student.date_of_birth %> </p>

<p> <strong>Email:</strong> <%= @student.email %> </p>
<p> <strong>Address:</strong> <%= @student.address %> </p>
<p> <strong>Contact:</strong> <%= @student.contact %> </p>
<p> <strong>age:</strong> <%= @student.age %> </p>
<%= link_to "Back to List",  admin_students_path , class: "btn btn-secondary btn-lg" %> | 
<%= link_to "Edit",   edit_admin_student_path(@student) , class: "btn btn-primary btn-lg" %>

</div>