 id="x8m4qk"
<% content_for :side_image do %>
  <img
    src="https://images.unsplash.com/photo-1548199973-03cce0bbc87b?auto=format&fit=crop&w=700&q=80"
    alt="Cute Puppy"
    class="side-image">
<% end %>




<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "admin_users/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>

  <div class="actions">
    <%= f.submit "Send me password reset instructions" %>
  </div>
<% end %>

<%= render "admin_users/shared/links" %>
